{% include "header.html" %}
{% block content %}
        <div class="main-container">
            <h3>Facts</h3>
            <h6>My Favorites</h6>
            <p>
               I started learning by gathering knowledge. I spent thousands on books on diverse subjects, especially those that provide glimpses into the ocean of knowledge that we humans have built over centuries  
            </p>
            <p>
                I share here some of that knowledge as facts that have a title, some text and a category to which they belong. 
            </p>
            <ul class="blog-posts">
                <li><a href="facts/random_fact">Random Facts</a></li>
            </ul>
       </div>
{% endblock %}
<hr>
{% include "footer.html" %}