{% include "header.html" %}
<nav>
    <a href="/facts">Facts</a>
</nav>
{% block content %}
<div class="main-container">
        <h3>Random Facts</h3>
        <h4 align="center">{{row['title']}}</h4>
        <h6 align="center">{{row['tag']}}</h6>
        <div class="thoughts">
            <h1>{{row['fact']}}</h1>
        </div>
</div>
<p align="right">   
    <button id="refresh" onclick="refresh()">Show Another</button>
</p>
<hr>
<script>
    function refresh() {
        window.location.reload();
    }
</script>
{% endblock %}
{% include "footer.html" %} 